extends ../_layout/_DefaultLayout

append ConfigBlock
  - pageId = 'place'
  - rootPath = '..'
  - title = '鎌倉市のスポット'

//- append StylesheetBlock

prepend JavascriptBlock
  script(src="http://maps.google.com/maps/api/js?key=AIzaSyDYp9wIgodsJPrn4xXcnx1Aavr-UozbHRE")
  script(src= rootPath + '/js/lib/gmaps.js')

block ContentBlock
  .mdl-grid
    .spot-list.mdl-cell.mdl-cell--4-col
      h3
        | 店舗一覧

      ul.mdl-list
        mixin kkd-item(name, link, count = 0)
          li.mdl-list__item
            .material-icons.mdl-badge.mdl-badge--overlap(data-badge= count) person_pin_circle
            a(href= link)
              | #{name}

        +kkd-item('山海堂', rootPath + '/spot/?id=1', 1)
        +kkd-item('モン･ペシェ･ミニョン', rootPath + '/spot/?id=1', 1)
        +kkd-item('café vivement dimanche', rootPath + '/spot/?id=1', 2)
        +kkd-item('OXYMORON onari', rootPath + '/spot/?id=1', 8)
        +kkd-item('イワタコーヒー店', rootPath + '/spot/?id=1', 21)
        +kkd-item('土屋鞄製造所', rootPath + '/spot/?id=1', 34)
        +kkd-item('gram', rootPath + '/spot/?id=1', 55)
        +kkd-item('スワニー', rootPath + '/spot/?id=1', 89)
        +kkd-item('鎌倉文学館', rootPath + '/spot/?id=1', 144)
        +kkd-item('湘南ボウル', rootPath + '/spot/?id=1', 233)

    .place-map.mdl-cell.mdl-cell--8-col
      .gmaps
