extends ../_layout/_DefaultLayout

append ConfigBlock
  - pageId = 'place'
  - rootPath = '..'

//- append StylesheetBlock

//- append JavascriptBlock

block ContentBlock
  h2
    | 鎌倉市のスポット

  .mdl-grid
    .mdl-cell.mdl-cell--4-col
      .spot-list
        h3
          | 店舗一覧

        ul
          li
            a(href="../spot/?id=1")
              | 店A
          li
            a(href="../spot/?id=2")
              | 店B
          li
            a(href="../spot/?id=3")
              | 店C

    .mdl-cell.mdl-cell--6-col
      .map
