extends ../_layout/_DefaultLayout

append ConfigBlock
  - pageId = 'place'
  - rootPath = '..'
  - title = '観光-doriとは？'

//- append StylesheetBlock

//- append JavascriptBlock

block ContentBlock
  p
    | すいてる観光スポットを探してクーポンがもらえるサービスです。