extends ../_layout/_DefaultLayout

append ConfigBlock
  - pageId = 'place'
  - rootPath = '..'
  - title = '観光-doriとは？'

//- append StylesheetBlock

//- append JavascriptBlock

block ContentBlock
  .mdl-grid
    .mdl-cell.mdl-cell--12-col
      section.sec-about
        h3
          | サービス概要

        p.description
          | 閑古鳥が鳴いているお店を探せます。
          br
          | お客さんが少ない時限定のとっておきサービスを体験できます。

        p.about-site
          | 本サイトは<a href="http://www.zenhack.jp/" target="_blank">ZenHack</a> 2016 Fallのチームbashoが制作しました。

      section.sec-member
        h3
          | 制作メンバー

        .team-name
          | チーム<b>basho</b>

        ul
          li
            a(href="https://twitter.com/butchi_y", target="_blank")
              | ぶっち
          li
            a(href="https://twitter.com/yukkin4649", target="_blank")
              | ゆっきー
          li
            | Shirow
