extends _layout/_DefaultLayout

append ConfigBlock
  - pageId = 'index'
  - rootPath = '.'
  - title = '観光-dori'

//- append StylesheetBlock

//- append JavascriptBlock

block ContentBlock
  p
    | あなたは今どこを観光していますか？

  button.btn-here
    | 現在地を取得
