extends _layout/_DefaultLayout

append ConfigBlock
  - pageId = 'index'
  - rootPath = '.'
  - title = '観光-dori'

//- append StylesheetBlock

//- append JavascriptBlock

block ContentBlock
  header
    h1
      | Index Page

  main
    p
      | content
