@charset "UTF-8";
* {
  box-sizing: border-box; }

html {
  font-size: 15px; }

body {
  font-family: YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, "メイリオ", sans-serif;
  line-height: 1.5; }
  html.is-sp body {
    font-size: 15px;
    font-size: 1rem; }
  html.is-pc body {
    font-size: 15px;
    font-size: 1rem; }

main {
  display: block; }

.display-none {
  display: none; }

html.is-pc .pc-none {
  display: none; }

html.is-sp .sp-none {
  display: none; }

main {
  display: block; }

* {
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: inherit; }

.list-share {
  font-size: 0; }
  .list-share .item-share {
    display: block;
    margin-top: 10px;
    padding-left: 20px;
    text-align: left; }

html.is-sp .wrapper {
  overflow: hidden; }

html.is-pc .wrapper {
  width: 100%;
  min-width: 1200px;
  min-width: 80rem;
  overflow: hidden; }

.kkd-drawer .site-logo {
  position: relative;
  width: 200px;
  height: 200px;
  text-indent: -9999px;
  background-image: url("../img/kanko-dori--logo.svg");
  background-size: 200px; }

.page-home .first-view {
  margin-top: 50px; }
  .page-home .first-view .site-logo {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    text-indent: -9999px;
    background-image: url("../img/kanko-dori--logo.svg");
    background-size: 200px; }
  .page-home .first-view .card {
    background-color: #ccf;
    position: relative;
    margin: 0 auto;
    margin-top: 0; }

.page-place .gmaps {
  position: relative;
  width: 100%;
  height: 100%; }

.page-spot .sec-service .checkin-text .count {
  color: red;
  font-size: 27px;
  font-size: 1.8rem; }

.page-spot .sec-service .table-service {
  margin-top: 50px; }

.page-spot .sec-service .button-coupon {
  margin-top: 20px; }

.page-spot .sec-service .card-qr {
  visibility: hidden;
  transition: margin-top 1s ease-out 0s;
  margin: 0 auto;
  margin-top: 1000px; }
  .page-spot .sec-service .card-qr.is-show {
    visibility: visible;
    margin-top: 50px; }
  .page-spot .sec-service .card-qr .title {
    text-align: center; }
    .page-spot .sec-service .card-qr .title img {
      margin: 0 auto; }
  .page-spot .sec-service .card-qr .notice {
    text-align: center; }

.page-spot .sec-info .card {
  width: 500px; }
