@charset "UTF-8";
* {
  box-sizing: border-box; }

html {
  font-size: 15px; }

body {
  font-family: YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, "メイリオ", sans-serif;
  line-height: 1.5; }
  html.is-sp body {
    font-size: 15px;
    font-size: 1rem; }
  html.is-pc body {
    font-size: 15px;
    font-size: 1rem; }

main {
  display: block; }

html.is-sp .wrapper {
  overflow: hidden; }

html.is-pc .wrapper {
  width: 100%;
  min-width: 1200px;
  min-width: 80rem;
  overflow: hidden; }

.kkd-drawer .site-logo {
  position: relative;
  width: 200px;
  height: 200px;
  text-indent: -9999px;
  background-image: url("../img/kanko-dori--logo.svg");
  background-size: 200px; }

.page-place .gmaps {
  position: relative;
  width: 100%;
  height: 100%; }
