extends ../_layout/_DefaultLayout

append ConfigBlock
  - pageId = 'place'
  - rootPath = '..'

//- append StylesheetBlock

//- append JavascriptBlock

block ContentBlock
  h2
    | 店A

  section.sec-info
    h3
      | 店舗情報

    .address
      | 神奈川県鎌倉市○○
    .map

  section.sec-service
    h3
      | サービス一覧

    ul
      li
        | お茶500mlプレゼント
