extends ../_layout/_DefaultLayout

append ConfigBlock
  - pageId = 'spot'
  - rootPath = '..'
  - title = '山海堂'

//- append StylesheetBlock

//- append JavascriptBlock

block ContentBlock
    .mdl-grid
      .sec-info.mdl-cell.mdl-cell--5-col
        .mdl-card.mdl-shadow--2dp
          .mdl-card__title
            h3.mdl-card__title-text
              | 店舗情報
          .info.mdl-card__supporting-text
            ul.demo-list-icon.mdl-list
              li.mdl-list__item
                span.mdl-list__item-primary-content
                  i.material-icons.mdl-list__item-icon store
                  | 山海堂
              li.mdl-list__item
                span.mdl-list__item-primary-content
                  i.material-icons.mdl-list__item-icon place
                  | 〒248-0016 神奈川県鎌倉市 長谷 4-2-26
              li.mdl-list__item
                span.mdl-list__item-primary-content
                  i.material-icons.mdl-list__item-icon phone
                  | 467-22-1357
              li.mdl-list__item
                span.mdl-list__item-primary-content
                  i.material-icons.mdl-list__item-icon access_time
                  | 9時40分～17時30分
              li.mdl-list__item
                span.mdl-list__item-primary-content
                  i.material-icons.mdl-list__item-icon web
                  a(href="http://kamakura-sankaido.jp/", target="_blank")
                    | http://kamakura-sankaido.jp/

          .map
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3255.6199554626205!2d139.5331495152489!3d35.31542358028119!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601845f3012c0001%3A0x3b1d1c0f58dfe65!2z5bGx5rW35aCC5ZWG5bqX!5e0!3m2!1sja!2sus!4v1475361225182", width="600", height="450", frameborder="0", style="border:0" allowfullscreen)

          .mdl-card__actions.mdl-card--border
            a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
              | チェックイン


          .mdl-card__menu
            button.button-share.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
              i.material-icons share

      .sec-service.mdl-cell.mdl-cell--7-col
        h3
          | サービス一覧

        p.description
          | 現在のチェックインの数に応じて特典が変化します。

        p.checkin-text
          | 現在 
          span.count 0
          |  人がチェックインしています。

          button.button-reload.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--colored
            i.material-icons autorenew

        table.table-service.mdl-data-table.mdl-js-data-table.mdl-data-table--selectable.mdl-shadow--2dp
          thead
            tr
              th.mdl-data-table__cell--non-numeric サービス
              th チェックイン数
              th.mdl-data-table__cell--non-numeric 補足
          tbody
            tr
              td.mdl-data-table__cell--non-numeric ひのきの棒1割引
              td 〜10
              td.mdl-data-table__cell--non-numeric
            tr
              td.mdl-data-table__cell--non-numeric 建長寺拝観料無料チケット
              td 〜5
              td 1点お買い上げにて
            tr
              td.mdl-data-table__cell--non-numeric ZenHack無料チケット
              td 〜1
              td.mdl-data-table__cell--non-numeric

        .button-coupon.mdl-button.mdl-js-button.mdl-button--raised
          | クーポンを表示

        .card-qr.mdl-card.mdl-shadow--2dp
          .title.mdl-card__title.mdl-card--expand
            img(src="../../img/qr-code--sample.gif", alt="QRコード")
          .notice.mdl-card__actions
            span
              | このQRコードをお店の端末に
              br
              | かざしてください
