.kkd-drawer {
  .site-logo {
    position: relative;

    width: 200px;
    height: 200px;

    text-indent: -9999px;
    background-image: image-url("../img/kanko-dori--logo.svg");
    background-size: 200px;
  }
}